body {font-size: medium;
      font-family: "Times New Roman" "serif";
      font-style: normal;
      color: black;
      background-color: white;
      font-weight: normal;
      margin: 2% 2% 2% 2%}

td {font-family: "Times New Roman" "serif";
    font-style: normal;
    font-weight: normal}

h1 {font-size: x-large;
    font-family: "Times New Roman" "serif";
    font-style: normal;
    font-weight: bold}

h2 {font-size: large;
    font-family: "Times New Roman" "serif";
    font-style: normal;
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%}

p {margin-left: 2%;
   margin-right: 2%}

blockquote {margin-top: 4%;
            background-color: black;
            color: white;
            padding: 1%}

a:link {color: rgb(0%, 0%, 100%);
        text-decoration: none}

a:visited {color: rgb(50%, 0%, 50%);
           text-decoration: none}

a:hover {text-decoration: underline}
