<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="angularSvgCharacterAnimationsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div ng-controller="AnimationControlCtrl">
        <div>
          <textarea ng-model="speakStr"></textarea>
          <button ng-click="speak(speakStr)">speak</button>
        </div>
        <ng-include onload="initSvg()" id="panda-head" src="'svgs/RedPandaLogoInCircle.svg'"></ng-include>
        <div id="ctrls">
          <button class="btn btn-default" ng-click="changeToShape('a-i')">change mouth to A - I</button>
          <button class="btn btn-default" ng-click="changeToShape('e')">change mouth to E</button>
          <button class="btn btn-default" ng-click="changeToShape('o')">change mouth to O</button>
          <button class="btn btn-default" ng-click="changeToShape('u')">change mouth to U</button>
          <button class="btn btn-default" ng-click="changeToShape('c-d-g-h-k-n-r-s-th-y-z')">change mouth to C - D - G - H - K - N - R - S - TH - Y - Z</button>
          <button class="btn btn-default" ng-click="changeToShape('f-v')">change mouth to F - V</button>
          <button class="btn btn-default" ng-click="changeToShape('l')">change mouth to L</button>
          <button class="btn btn-default" ng-click="changeToShape('m-b-p')">change mouth to M - B - P</button>
          <button class="btn btn-default" ng-click="changeToShape('w-q')">change mouth to W - Q</button>
          <button class="btn btn-default" ng-click="changeToShape('rest')">change mouth to REST</button>
          <button class="btn btn-default" ng-click="changeToShape('open-happy')">change mouth to OPEN-HAPPY</button>
        </div>
      </div>

      <!-- build:js(.) scripts/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-touch/angular-touch.js"></script>
      <script src="bower_components/d3/d3.js"></script>
      <script src="bower_components/angular-adaptive-speech/src/angular-adaptive-speech.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/mouth-shapes.js"></script>
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/main.js"></script>
      <script src="scripts/controllers/animation-control.js"></script>
      <!-- endbuild -->
    </body>
    </html>
